<ion-app>

  <ion-header>
    <ion-icon name="menu-outline" (click)="openFirst()"></ion-icon>
  </ion-header>

<ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Inicio</ion-item>
        <ion-item>login</ion-item>
        <ion-item>Conteudo</ion-item>
        <ion-item>Exercicios</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
