<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat, nibh ut semper porta, nisi felis
      sodales urna, eget pellentesque eros risus quis leo. Nullam ut magna consectetur, mattis elit pulvinar,
      fermentum sapien. Aliquam nibh diam, aliquet nec ligula sed, consequat auctor magna. Sed velit metus, tempus sit
      amet tellus quis, efficitur maximus diam. Vestibulum lobortis vitae lorem sit amet dignissim. Integer molestie
      mattis tortor eget consequat. Praesent mollis augue id mi rhoncus, eu posuere tellus vehicula. In convallis
      elementum mi, ut mollis justo faucibus vitae. Maecenas et erat quis ex sagittis laoreet. Pellentesque quis metus
      efficitur, egestas ex sed, pulvinar tellus. Sed efficitur, sapien at pharetra rhoncus, eros massa commodo nunc,
      volutpat elementum mauris leo ac nibh. Sed gravida metus sed purus elementum, et pretium quam vulputate.
    </ion-slide>
    <ion-slide>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat, nibh ut semper porta, nisi felis
      sodales urna, eget pellentesque eros risus quis leo. Nullam ut magna consectetur, mattis elit pulvinar,
      fermentum sapien. Aliquam nibh diam, aliquet nec ligula sed, consequat auctor magna. Sed velit metus, tempus sit
      amet tellus quis, efficitur maximus diam. Vestibulum lobortis vitae lorem sit amet dignissim. Integer molestie
      mattis tortor eget consequat. Praesent mollis augue id mi rhoncus, eu posuere tellus vehicula. In convallis
      elementum mi, ut mollis justo faucibus vitae. Maecenas et erat quis ex sagittis laoreet. Pellentesque quis metus
      efficitur, egestas ex sed, pulvinar tellus. Sed efficitur, sapien at pharetra rhoncus, eros massa commodo nunc,
      volutpat elementum mauris leo ac nibh. Sed gravida metus sed purus elementum, et pretium quam vulputate.
    </ion-slide>
    <ion-slide>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat, nibh ut semper porta, nisi felis
      sodales urna, eget pellentesque eros risus quis leo. Nullam ut magna consectetur, mattis elit pulvinar,
      fermentum sapien. Aliquam nibh diam, aliquet nec ligula sed, consequat auctor magna. Sed velit metus, tempus sit
      amet tellus quis, efficitur maximus diam. Vestibulum lobortis vitae lorem sit amet dignissim. Integer molestie
      mattis tortor eget consequat. Praesent mollis augue id mi rhoncus, eu posuere tellus vehicula. In convallis
      elementum mi, ut mollis justo faucibus vitae. Maecenas et erat quis ex sagittis laoreet. Pellentesque quis metus
      efficitur, egestas ex sed, pulvinar tellus. Sed efficitur, sapien at pharetra rhoncus, eros massa commodo nunc,
      volutpat elementum mauris leo ac nibh. Sed gravida metus sed purus elementum, et pretium quam vulputate.<p>
      <ion-button routerLink="/inicio" >Ir para o Início</ion-button></p>
    </ion-slide>
  </ion-slides>
</ion-content>