<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat, nibh ut semper porta, nisi felis sodales urna, eget pellentesque eros risus quis leo. Nullam ut magna consectetur, mattis elit pulvinar, fermentum sapien. Aliquam nibh diam,
            aliquet nec ligula sed, consequat auctor magna. Sed velit metus, tempus sit amet tellus quis, efficitur maximus diam. Vestibulum lobortis vitae lorem sit amet dignissim. Integer molestie mattis tortor eget consequat. Praesent mollis augue
            id mi rhoncus, eu posuere tellus vehicula. In convallis elementum mi, ut mollis justo faucibus vitae. Maecenas et erat quis ex sagittis laoreet. Pellentesque quis metus efficitur, egestas ex sed, pulvinar tellus. Sed efficitur, sapien at pharetra
            rhoncus, eros massa commodo nunc, volutpat elementum mauris leo ac nibh. Sed gravida metus sed purus elementum, et pretium quam vulputate.
        </ion-slide>
        <ion-slide>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat, nibh ut semper porta, nisi felis sodales urna, eget pellentesque eros risus quis leo. Nullam ut magna consectetur, mattis elit pulvinar, fermentum sapien. Aliquam nibh diam,
            aliquet nec ligula sed, consequat auctor magna. Sed velit metus, tempus sit amet tellus quis, efficitur maximus diam. Vestibulum lobortis vitae lorem sit amet dignissim. Integer molestie mattis tortor eget consequat. Praesent mollis augue
            id mi rhoncus, eu posuere tellus vehicula. In convallis elementum mi, ut mollis justo faucibus vitae. Maecenas et erat quis ex sagittis laoreet. Pellentesque quis metus efficitur, egestas ex sed, pulvinar tellus. Sed efficitur, sapien at pharetra
            rhoncus, eros massa commodo nunc, volutpat elementum mauris leo ac nibh. Sed gravida metus sed purus elementum, et pretium quam vulputate.
        </ion-slide>
        <ion-slide>
            <ion-slide-content>
                Suspendisse potenti. Nunc sit amet sagittis turpis. In at venenatis ipsum, quis tincidunt neque. Duis vestibulum, orci sit amet interdum aliquam, lacus turpis hendrerit libero, sed suscipit urna diam id diam. Mauris tempor efficitur pretium. Integer ac
                mauris fermentum, accumsan tortor tristique, pellentesque felis. Nullam commodo metus ipsum, sed viverra elit rhoncus in. Praesent bibendum quam lacinia, auctor augue sit amet, rhoncus erat. Mauris congue ipsum ipsum, non auctor erat maximus
                ac. Praesent tristique nunc vel turpis sagittis sodales. Praesent varius lorem in mi porta posuere placerat euismod lectus.
                <ion-button routerLink="/inicio">Ir para o Início</ion-button>
            </ion-slide-content>
        </ion-slide>
    </ion-slides>
</ion-content>